[Unit]
Description=Heartrate recording service
After=network-online.target

[Service]
Type=simple
ExecStart=/home/joe/btlehrservice/recorder/heartrate_record /home/joe/btlehrservice/recorder/config.json
User=joe
Group=joe

[Install]
WantedBy=multi-user.target
